<h1>Sign Up</h1>

{{eui-input placeholder="Email Address"}}
{{eui-input type="password" placeholder="Password"}}
{{eui-input type="passwordConfirmation" placeholder="Confirm Password"}}

{{eui-button label="Create Account"}}
